In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,AL,2020-02-25 07:06:01,41.00,20.00,42.80,86,0,1.12
1,1,Illoqqortoormiut,GL,2020-02-25 07:07:47,70.48,-21.96,-10.66,48,45,7.61
2,2,Atuona,PF,2020-02-25 07:07:38,-9.80,-139.03,81.14,78,28,12.53
3,3,Grand Gaube,MU,2020-02-25 07:08:22,-20.01,57.66,87.80,62,90,4.70
4,4,Butaritari,KI,2020-02-25 07:08:01,3.07,172.79,84.51,78,61,15.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, 
weights=clouds,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind,dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 10
What is the maximum temperature you would like for your trip? 15

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
14,14,Tasiilaq,GL,2020-02-25 07:08:00,65.61,-37.64,14.00,47,27,2.24
67,67,Yerbogachen,RU,2020-02-25 07:10:38,61.28,108.01,14.50,91,86,9.71
117,117,Ayan,RU,2020-02-25 07:11:40,56.45,138.17,11.75,73,26,5.50
197,197,Ornskoldsvik,SE,2020-02-25 07:10:18,63.29,18.72,14.00,85,0,3.36
219,219,Rovaniemi,FI,2020-02-25 07:11:57,66.50,25.72,12.20,85,59,8.05
257,257,Mnogovershinnyy,RU,2020-02-25 07:12:04,53.94,139.92,11.14,76,54,3.96
329,329,Talnakh,RU,2020-02-25 07:07:50,69.49,88.40,14.00,92,40,33.55
399,399,Nikolayevsk-Na-Amure,RU,2020-02-25 07:12:29,53.14,140.73,11.21,80,87,5.82
401,401,Nyurba,RU,2020-02-25 07:08:10,63.28,118.33,14.29,91,76,8.39
408,408,Tazovskiy,RU,2020-02-25 07:07:54,67.47,78.70,12.31,88,100,22.95

In [11]:
preferred_cities_df.count()

City_ID       16
City          16
Country       16
Date          16
Lat           16
Lng           16
Max Temp      16
Humidity      16
Cloudiness    16
Wind Speed    16
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

             City Country  Max Temp    Lat     Lng Hotel Name
14       Tasiilaq      GL     14.00  65.61  -37.64
67    Yerbogachen      RU     14.50  61.28  108.01
117          Ayan      RU     11.75  56.45  138.17
197  Ornskoldsvik      SE     14.00  63.29   18.72
219     Rovaniemi      FI     12.20  66.50   25.72

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][1]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
14,Tasiilaq,GL,14.00,65.61,-37.64,Hotel Angmagssalik
67,Yerbogachen,RU,14.50,61.28,108.01,
117,Ayan,RU,11.75,56.45,138.17,Gostinitsa
197,Ornskoldsvik,SE,14.00,63.29,18.72,Scandic Örnsköldsvik
219,Rovaniemi,FI,12.20,66.50,25.72,Santa's Hotel Santa Claus
257,Mnogovershinnyy,RU,11.14,53.94,139.92,Gostinitsa
329,Talnakh,RU,14.00,69.49,88.40,Apartment on Taymyrskaya ulitsa 28
399,Nikolayevsk-Na-Amure,RU,11.21,53.14,140.73,1-к. бл. кв.
401,Nyurba,RU,14.29,63.28,118.33,Gostinitsa Alrosa
408,Tazovskiy,RU,12.31,67.47,78.70,Hotel Tazovchanka
417,Hanna,CA,10.00,51.63,-111.90,Canalta Hanna
463,Esso,RU,10.51,55.93,158.70,Esso-Tour Guest House
514,Priiskovyy,RU,14.77,51.93,116.63,
519,Erdenet,MN,14.77,49.03,104.08,White house
537,Berdigestyakh,RU,14.45,62.10,126.70,
549,Borovoy,RU,10.40,55.43,86.08,Apartments on Rydnichiy district

In [15]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))